# [SECURITY] Never commit these files since they can contains productions environment info
tmp
pgdata
pgdata.old
app/resto/addons
saml/cert/server.crt
saml/cert/server.pem
errors.log
.private
.DS_Store
.php-cs-fixer.cache
# Local config and attached docker-compose
_config*.env
_docker-compose*.yml
backup/*