# [SECURITY] Never commit these files since they can contains productions environment info
app/resto/addons
tmp
pgdata
pgdata.old
docker-compose.local.yml
docker-compose-nodb.local.yml
config-local.env
errors.log
.private
.DS_Store
