<IfModule mod_rewrite.c>

    RewriteEngine On

    # IMPORTANT : change this to match your installation 
    RewriteBase /resto2/
    
    # Transmit authorization to PHP
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Do not apply the rewrite rules to existing directories, files and/or links
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l
    
    # Rewrite /a/b/c/d to index.php?RESToURL=/a/b/c/d
    RewriteRule ^(.*)$ index.php?RESToURL=$1 [QSA,NC,L]

</IfModule>
<IfModule mod_expires.c>
    ExpiresActive Off
    ExpiresByType image/jpg "access 1 year"
    ExpiresByType image/jpeg "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/png "access 1 year"
    #ExpiresByType text/css "access 1 month"
    #ExpiresByType text/html "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    #ExpiresByType text/x-javascript "access 1 month"
    ExpiresByType application/x-shockwave-flash "access 1 month"
    ExpiresByType image/x-icon "access 1 year"
    #ExpiresDefault "access 1 month"
</IfModule>