version: '3.5'
services:
  resto:
    environment: 
      # Set to 0 in production environment to activate opcache
      - RESTO_DEBUG=1
      - PHP_ENABLE_XDEBUG=1
    volumes:
      - ./app/index.php:/app/index.php:ro
      - ./app/resto/core:/app/resto/core:ro
      - ./app/vendor:/app/vendor:ro
      - ./build/resto/container_root/cont-init.d/:/etc/cont-init.d/:ro
  restodb:
    volumes:
      - ./postgresql-conf/postgresql-dev.conf:/var/lib/postgresql/data/postgresql.conf