/*
 * RESTo - REstful Semantic search Tool for geOspatial 
 * 
 * Copyright 2014 Jérôme Gasperi <https://github.com/jjrom>
 * 
 * jerome[dot]gasperi[at]gmail[dot]com
 */
body {
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
a {
    text-decoration:none;
}
a, a:active {
    color:rgb(227, 65, 26);
}
a:hover {
    color:darkgray;
}
a.active {
    color:#fff;
    background-color:rgb(227, 65, 26);
}
h1,h2,h3,h4 {
    font-family: 'Roboto', sans-serif;
}
h1.small {
    font-size:1.7em;
}
h2.small {
    font-size:1.5em;
}
h3.small {
    font-size:1.3em;
}
h4.small {
    font-size:1.1em;
}
.hilite {
    font-weight: bold;
}
.bg {
    background: url(img/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bg-404 {
    background: url(img/desert.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    text-align: center;
    width: 100%;
    height:60px;
    line-height:60px;
    color:#000;
}

.pin-top, .pin-bottom {
    position: absolute;
}
.pin-top {
    top:0px;
}
.pin-bottom {
    bottom:0px;
}
.pin-right {
    right:0px;
}
.padded {
    padding:20px;
}
.padded-top {
    padding-top:20px;
}
.padded-left {
    padding-left:20px;
}
.padded-right {
    padding-right:20px;
}
.bg-alpha-dark {
    background-color:rgba(0,0,0,0.3);
}
.text-light, a.text-light {
    color:#fff;
}
a.text-light:hover {
    color:darkgray;
}
.text-dark {
    color:#000;
}
.upper {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.fat {
    font-weight:bold;
}
.streched {
    width:100%;
    height:100%;
}
.resto-collection-info {
    display:none;
    background-color:limegreen;
    width:100%;
    height: auto; 
    padding-top: 10px;
}

.darkfield {
    background-color:#242424;
    color:#fff;
}
.greenfield {
    background-color:limegreen;
    color:#fff;
}
.orangefield {
    background-color:orange;
    color:#fff;
}
.lightfield {
    background-color:#F8F8F8;
    color:#000;
}

.gravatar,.gravatar-big {
    border-radius:50%;
    background-size:100% 100%;
}
.gravatar {
    width:30px;
    height:30px;
    vertical-align: middle;
}
.gravatar-big {
    margin:23px 20px;
    width:75px;
    height:75px;
}
.panel-triggers {
    padding-left:10px;
}
.panel-triggers a {
    color:#fff;
    padding:0px 20px;
    line-height:50px;
}

/*
 * Foundation 
 */
.reveal-modal {
    padding:0px;
}
.close-reveal-modal.text-light {
    color:#fff;
}
.close-reveal-modal.text-dark {
    color:#000;
}
.row {
    max-width: 1250px;
}
.row.dark {
    color:#fff;
    background-color: #000;
}
.row.dark h1 {
    color:#ccc;
}
.row.light {
    background-color: #fff;
    color:#000;
}
.button.signIn {
    font-weight:bold;
    color:#fff;
    background-color:orangered;
}
.button.signUp {
    font-weight:bold;
    color:#fff;
    background-color:darkgreen;
}

/*
 * Go to top button
 */
#gototop {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:10000;
    display:none;
    padding:10px;
    color:#fff;
    text-shadow: 2px 2px #000;
}
#gototop:hover {
    color:rgb(227, 65, 26);
}
    
/*
 * Header
 */
header {
    background-color: lightgray;
    width: 100%;
    height: 50px;
}
nav {
    float: right;
    position: relative;
    margin-right: 5px;
}
nav ul {
    padding: 0 10px 0 0;
    margin: 0 auto;
}
nav li {
    display: inline;
    float: left;
    line-height: 50px;
    font-size: 0.8em;
    letter-spacing: 1px;
}
nav li.link {
    cursor:pointer;
}
nav li.link:hover {
    color:limegreen;
}
nav a {
    color: #000;
    display: inline-block;
    text-decoration: none;
    padding:0 10px;
}
nav a.hilite {
    border:2px solid white;
    line-height: 40px;
}

.logo {
    color:#000;
    float: left;
    display: block;
    padding-left: 20px;
    font-size: 2em;
    line-height: 50px;
    height:50px;
}
.logo a {
    color:#000;
}

.glass header {
    background-color: transparent;
}
.glass a {
    color:yellowgreen;
}
.glass nav {
    color:#fff;
}
.glass nav a {
    color:#fff;
}
.glass nav a:hover {
    color:darkgray;
}
.glass .logo a {
    color:#fff;
}
/*
 * RESTo CSS
 */
.resto-feature {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;
    box-sizing: border-box;
}
.feature-info-top .date {
    color:rgb(227, 65, 26);
    background-color:#fff;
}
.feature-info-top a {
    background-color:#fff;
    color:#000;
    padding:3px;
}
.feature-info-top a:hover {
    color:rgb(227, 65, 26);
}
.feature-info-left a {
    padding: 10px;
}   
.resto-feature .selected, .resto-feature .streched:hover {
    background-color:rgba(227, 65, 26, 0.8);
}
.resto-feature .selected .date, .resto-feature .streched:hover .date {
    color:#fff;
    background-color:transparent;
}
.unselected .hideOnUnselected {
    display:none;
}
.unselected:hover .hideOnUnselected {
    display:initial;
}
.shy {
    color:darkgray;
}
.landuse img {
    border-radius: 50%;
    background-color:#fff;
    height:40px;
    width:40px;
}
.landuse img:hover {
    background-color:rgb(227, 65, 26);
}
a.landuse {
    background-color: transparent;
}
#feature-info-details {
    background-color:rgb(227, 65, 26);
    line-height:250px;
}
#feature-info-details a {
    color:#fff;
    padding:15px;
}
#feature-info-details a:hover {
    color:#000;   
}
.resto-search {
    line-height: 50px;
    padding-left:20px;
}
.resto-search input, .resto-search input:focus {
    background: url('img/search.png') no-repeat scroll 97% 50% / 20px 20px rgba(255, 255, 255, 0.25);
    border: medium none;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    width:350px;
    margin:0px;
}

.resto-search input.darker, .resto-search input.darker:focus {
   background: url('img/search_darker.png') no-repeat scroll 97% 50% / 20px 20px rgba(255, 255, 255, 0.8);
   color:#000;
}

.resto-keywords table {
    width:90%;
    margin:10px 5%;
}
.resto-keywords table td {
    vertical-align:top;
    text-align:left;
}
.resto-keywords table td.title {
    white-space: nowrap;
}

a.resto-keyword {
    font-weight: 400;
}

/*
 * home and admin
 */
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.resto-wikipedia {
    padding:3% 10%;
    font-size:12px;
}
.resto-resource table {
    margin-top:30px;
    color:#aaa;
    line-height:1.5em;
}
.resto-collection {
    padding:3% 10%;
}
.resto-collection li {
    color:#fff;
    overflow:auto;
    min-height:300px;
}
.resto-collection .collectionItem {
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    margin:5px;
    padding:20px;
}

.button.zoom {
    font-size:1.5rem;
    padding:12px 20px 13px 20px;
}

.greenfield input, .greenfield input:focus, .orangefield input, .orangefield input:focus {
    color:#fff;
    background-color:darkgreen;
    border:0px;
    box-shadow:none;
}
.greenfield input, .greenfield input:focus {
    background-color:darkgreen;
}
.orangefield input, .orangefield input:focus {
    background-color:darkorange;
}

#small-menu {
    background-color: rgba(0,0,0,0.4);
}

#small-menu ul {
    padding: 0 10px 0 0;
    margin: 0 auto;
}
#small-menu li {
    line-height: 50px;
    font-size: 0.8em;
    letter-spacing: 1px;
}
#small-menu a {
    padding:0 10px;
    color:#fff;
}

.small-logo {
    position:absolute;
    left: 10px;
    line-height: 50px;
    height:50px;
}
.small-logo:hover {
    cursor: pointer;
}

.blur {
    -webkit-filter: blur(10px);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'effect-blur-1\'><feGaussianBlur stdDeviation=\'10\' /></filter></svg>#effect-blur-1");
}

/*
 * Avoid overflow bar to be shown (TODO : validate !!)
 */
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
    min-height:0px;
}

li .resto-box {
    background-color: rgba(255,255,255,0.3);
    margin:5px;
    padding:20px;
}
li .resto-box:hover {
    background-color: rgba(227, 65, 26, 0.8);
}

.resto-cart-content img {
    width:100px;
    height:100px;
}

.resto-cart-content table {
    width:90%;
    margin:10px 5%;
}
.resto-cart-content table td {
    vertical-align:middle;
    text-align:left;
}
.resto-cart-content table td.title {
    white-space: nowrap;
}

/*
 * Map menu
 */
#map #mapmenu {
    position:absolute;
    cursor:pointer;
    width:auto;
    display:none;
    z-index:1000;
}
#map #mapmenu .item {
    position:absolute;
    height:50px;
    width:50px;
    line-height: 50px;
    padding:5px;
    background-color:#fff;
    color:#000;
    border-radius: 50%;
    text-align:center;
}

#map #mapmenu .item:hover {
    background-color:rgb(227, 65, 26);
    color:#fff;
}

/* 
 * From jQuery Growl
 * Copyright 2013 Kevin Sylvestre
 * 1.2.4
 */
#growls {
  z-index: 2147483647; // 32bits limit - to appear even in fullscreen mode !
  top:10px;
  right:10px;
  position: fixed; }
  #growls.default {
    top: 10px;
    right: 10px; }
  #growls.tl {
    top: 10px;
    left: 10px; }
  #growls.tr {
    top: 10px;
    right: 10px; }
  #growls.bl {
    bottom: 10px;
    left: 10px; }
  #growls.br {
    bottom: 10px;
    right: 10px; }
  #growls.tc {
    top: 10px;
    right: 10px;
    left: 10px; }
  #growls.bc {
    bottom: 10px;
    right: 10px;
    left: 10px; }
  #growls.tc .growl, #growls.bc .growl {
    margin-left: auto;
    margin-right: auto; }

.growl {
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .growl.growl-incoming {
    opacity: 0;
    filter: alpha(opacity=0); }
  .growl.growl-outgoing {
    opacity: 0;
    filter: alpha(opacity=0); }
  .growl.growl-small {
    width: 200px;
    padding: 5px;
    margin: 5px; }
  .growl.growl-medium {
    width: 250px;
    padding: 10px;
    margin: 10px; }
  .growl.growl-large {
    width: 300px;
    padding: 15px;
    margin: 15px; }
  .growl.growl-default {
    color: #FFF;
    background: #7f8c8d; }
  .growl.growl-error {
    color: #FFF;
    background: #C0392B; }
  .growl.growl-notice {
    color: #FFF;
    background: #2ECC71; }
  .growl.growl-warning {
    color: #FFF;
    background: #F39C12; }
  .growl .growl-close {
    cursor: pointer;
    float: right;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: helvetica, verdana, sans-serif; }
  .growl .growl-title {
    font-size: 18px;
    line-height: 24px; }
  .growl .growl-message {
    font-size: 14px;
    line-height: 18px; }

