/*
 * RESTo - REstful Semantic search Tool for geOspatial 
 * 
 * Copyright 2014 Jérôme Gasperi <https://github.com/jjrom>
 * 
 * jerome[dot]gasperi[at]gmail[dot]com
 */
body {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    font-weight: 400;
    color:#fff;
}
a, a:active {
    color:limegreen;
}
a:hover {
    color:darkgray;
}
a.active {
    color:#fff;
    background-color:limegreen;
}
a.hilited {
    background-color:darkorange;
    color:white;
    padding:3px;
}
a.hilited:hover {
    color:#000;
}
h1 {
    font-size:2.2em;
}
.small {
    font-size:0.9em;
}
h1.small {
    font-size: 2em;
}
h2.small {
    font-size: 1.4em;
}
h3.small {
    font-size: 1.2em;
}
h4.small {
    font-size: 1em;
}
.bg {
    background: url(img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer, .footer-bottom {
    width:100%;
    font-size:0.8em;
}
.footer {
    height:265px;
}
.footer-bottom {
    text-align: center;
    height:60px;
    line-height:60px;
    color:rgba(0,0,0,0.75);
}

.pin-top, .pin-bottom {
    position: absolute;
}
.pin-top {
    top:0px;
}
.pin-bottom {
    bottom:0px;
}
.padded {
    padding:20px;
}
.padded-top {
    padding-top:20px;
}
.padded-left {
    padding-left:20px;
}
.padded-right {
    padding-right:20px;
}
.darker .bg-alpha-dark-hover {
    background-color:rgba(0,0,0,0.7);
}
.darker .feature-info-bottom, .darker .feature-info-top {
    display:none;
}
.bg-alpha-dark, .bg-alpha-dark-hover {
    background-color:rgba(0,0,0,0.4);
}
.bg-alpha-dark-hover:hover {
    background-color:transparent;
}
.text-light, a.text-light {
    color:#fff;
}
a.text-light:hover {
    color:darkgray;
}
.text-dark {
    color:#000;
}
.upper {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.fat {
    font-weight:bold;
}

.streched {
    width:100%;
    height:100%
}

.shy {
    color:darkgray;
}

.resto-collection-info {
    display:none;
    background-color:limegreen;
    width:100%;
    height: auto; 
    padding-top: 10px;
}

.resto-search-panel {
    background-color:#28353D;
    width:100%;
    height: auto;
    padding:0px;
    margin:0px;
}

.darkfield {
    background-color:#28353D;
    color:#fff;
}
.greenfield {
    background-color:limegreen;
    color:#fff;
}
.orangefield {
    background-color:orange;
    color:#fff;
}
.lightfield {
    background-color:#F8F8F8;
    color:#000;
}

.gravatar,.gravatar-big {
    border-radius:50%;
    background-size:100% 100%;
}
.gravatar {
    width:30px;
    height:30px;
    vertical-align: middle;
}
.gravatar-big {
    margin:23px 20px;
    width:75px;
    height:75px;
}

.panel-triggers a {
    color:#fff;
    padding:5px;
}

/*
 * Foundation 
 */
.reveal-modal {
    padding:0px;
}
.reveal-modal .close-reveal-modal {
    color:#fff;
    font-size:1em;
}
.row {
    max-width: 1280px;
}
.row.dark {
    color:#fff;
    background-color: #000;
}
.row.dark h1 {
    color:#ccc;
}
.row.light {
    background-color: #fff;
    color:#000;
}
.button.signIn {
    font-weight:bold;
    color:#fff;
    background-color:orangered;
}

/*
 * Go to top button
 */
#gototop {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:10000;
    display:none;
    padding:10px;
    color:#fff;
    text-shadow: 2px 2px #000;
}
#gototop:hover {
    color:limegreen;
}
    
/*
 * Header
 */
header {
    background-color: #28353D;
    width: 100%;
    height: 80px;
}
.glass header {
    background-color: rgba(0,0,0,0.4);
}

nav {
    float: right;
    position: relative;
    margin-right: 20%;
}
nav ul {
    padding: 0 10px 0 0;
    margin: 0 auto;
}
nav li {
    display: inline;
    float: left;
    line-height: 80px;
    font-size: 0.8em;
    letter-spacing: 1px;
}
nav li.link {
    cursor:pointer;
}
nav li.link:hover {
    color:limegreen;
}
nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding:0 10px;
}
nav a.hilite {
    border:2px solid white;
    line-height: 40px;
}

.logo {
    color:#fff;
    float: left;
    display: block;
    padding-left: 20%;
    font-size: 2em;
    line-height: 80px;
    height:80px;
}
.logo a {
    color:#fff;
}


.breadcrumb {
    margin-left: 20px;
    margin-top: 30px;
    float: left;
    color: white;
}

/*
 * RESTo CSS
 */
.resto-feature {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    box-sizing: border-box;
}

.feature-info-bottom {
    text-align:center;
    width:100%;
}
.feature-info-bottom a {
    color:#fff;
    padding:0px 10px;
}
.feature-info-bottom a:hover {
    color:limegreen;
}

.resto-keywords {
    font-size: 14px;
}

.resto-actions {
    font-size: 2em;
}
.resto-actions a {
    padding:0 10px;
}

.resto-search {
    padding: 0 10px 0 20px;
    line-height:45px;
}
.resto-search input, .resto-search input:focus {
    background: url('img/search.png') no-repeat scroll 97% 50% / 20px 20px rgba(255, 255, 255, 0.25);
    border: medium none;
    border-radius: 3px;
    height:30px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 0 1em 0 0;
    padding: 0 8px;
    width: 315px;
}

.resto-search input.darker, .resto-search input.darker:focus {
   background: url('img/search_darker.png') no-repeat scroll 97% 50% / 20px 20px rgba(255, 255, 255, 0.8);
   color:#000;
}

.resto-queryanalyze {
    position:fixed;
    top:95px;
    left:40px;
    font-size:12px;
    font-weight: 300;
    text-shadow:1px 1px 1px #000; 
    color:#fff;
    z-index:30000;
}

.resto-keywords table {
    width:90%;
    margin:10px 5%;
}
.resto-keywords table td {
    vertical-align:top;
    text-align:left;
}
.resto-keywords table td.title {
    white-space: nowrap;
}

a.resto-keyword {
    font-weight: 400;
}
a.resto-keyword-forest {
    color:darkgreen;
}
a.resto-keyword-water {
    color:darkblue;
}
a.resto-keyword-flooded {
    color:blue;
}
a.resto-keyword-urban {
    color:darkgrey;
}
a.resto-keyword-cultivated {
    color:orange;
}
a.resto-keyword-desert {
    color:red;
}
a.resto-keyword-snow {
    color:lightgray;
}
a.resto-keyword-herbaceous  {
    color:green;
}

/*
 * mapshup 
 */
#mapshup {
    position:relative;
    top:0px;
    width:100%;
    margin:auto;
    overflow:hidden;
    z-index:1000;
}

#mapshup-tools {
    position:relative;
    top:310px;
    height:40px;
    width:100%;
    text-align:center;
    margin:auto;
    background-color:#2BA6CB;
    z-index:1000;
    display: table;
}
#mapshup-tools ul {
    display: table-row;
}
#mapshup-tools li {
    font-size:1.5em;
    color:#fff;
    display: table-cell;
    cursor:pointer;
    margin: 0;
    line-height:40px;
    border-bottom: 2px solid #fff;
}
#mapshup-tools li.black {
    color:#000;
}
#mapshup-tools li:hover {
    background-color:darkgrey;
}
#mapshup #theBar {
    display:none;
}
#mapshup #__CONTROL_ATTRIBUTION__ {
    background-color:transparent;
    color: #000000;
    font-size: 0.9em;
}   
.olControlAttribution {
    left:10px;
    bottom:30px;
    height:18px;
    width:auto;
    max-width:600px;
    text-align:left;
}
/* Navigation */
#mapshup .tbnwh {
    top:15px;
    background-color:#E4E4E4;
    color:#000;
    border:1px solid #fff;
}

/*
 * home and admin
 */
.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.resto-wikipedia {
    padding:3% 10%;
    font-size:12px;
}
.resto-resource {
    padding:3% 10%;
    font-size:3em;
}
.resto-collection {
    padding:3% 10%;
}
.resto-collection li {
    color:#fff;
    overflow:auto;
    min-height:300px;
}
.resto-collection .collectionItem {
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    margin:5px;
    padding:20px;
}

/*
 * Administration
 */
#dropZone {
    background-color:rgba(255,255,255, 0.8);
    border: 2px dashed #FFF;
    border-radius: 5px 5px 5px 5px;
    font-size:1em;
    color:#000;
}
#dropZone.hover {
    background-color:#4099FF;
    color:#fff;
    border: 2px dashed #000;
}
#restoUserPanel {
    position: fixed;
    z-index: 91000;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding:10% 0 0 0
}
#restoUserPanel img {
    padding:10px;
    border-radius: 50%;
}
#restoUserPanel .close {
    position:absolute;
    top:0px;
    right:20px;
    cursor:pointer;
    font-size:4em;
    color:#fff;
}
#restoUserPanel .close:before {
    content:"\00D7";
}
#restoUserPanel input[type="password"],#restoUserPanel input[type="text"] {
    display: inline-block;
    width:250px;
}

.button.zoom {
    font-size:1.5rem;
    padding:12px 20px 13px 20px;
}
.button.admin {
    font-size:0.5em;
    padding:15px;
    border-radius:5px;
}
.adminMessage {
    position:fixed;
    z-index:95000;
    height:auto;
    padding:20px 20px;
    background-color: orange;
    color:#fff;
    box-shadow: 1px 1px 1px #000;
}
.resto-admin {
    color:#fff;
}
.resto-admin h1 {
    color:#fff;
}
.resto-admin a {
    color:#fff;
}
.resto-admin a:hover {
    color:#000;
}

/*
 * Background sizing
 */
@media only screen and (max-width : 1280px) {
    .bg {
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;
        background-size:auto;
    }
}








.resto_menu {
    display:none;
    background: grey; 
    height: auto;  
    padding-top: 10px;
    text-align: center;
    font-size: 50%
}

.resto_menu a {
    font-size: 50%;
    color: white
}



.greenfield input, .greenfield input:focus, .orangefield input, .orangefield input:focus {
    color:#fff;
    background-color:darkgreen;
    border:0px;
    box-shadow:none;
}
.greenfield input, .greenfield input:focus {
    background-color:darkgreen;
}
.orangefield input, .orangefield input:focus {
    background-color:darkorange;
}
